<clickhouse>
    <storage_configuration>
        <disks>
            <{{ CLICKHOUSE_BACKUP_DISK_NAME }}>
                <type>local</type>
                <path>{{ CLICKHOUSE_BACKUP_ROOT }}/</path>
            </{{ CLICKHOUSE_BACKUP_DISK_NAME }}>
        </disks>
    </storage_configuration>
    <backups>
        <allowed_disk>{{ CLICKHOUSE_BACKUP_DISK_NAME }}</allowed_disk>
    </backups>
</clickhouse>
