<clickhouse>
    <!-- Port for HTTP API. See also 'https_port' for secure connections.
          This interface is also used by ODBC and JDBC drivers (DataGrip, Db>
          and by most of web interfaces (embedded UI, Grafana, Redash, ...).
     -->
     <http_port>{{ CLICKHOUSE_HOST_INSECURE_HTTP_PORT }}</http_port>

     <!-- Port for interaction by native protocol with:
          - clickhouse-client and other native ClickHouse tools (clickhouse->
            clickhouse-copier);
          - clickhouse-server with other clickhouse-servers for distributed >
          - ClickHouse drivers and applications supporting native protocol
          (this protocol is also informally called as "the TCP protocol");
          See also 'tcp_port_secure' for secure connections.
     -->
     <tcp_port>{{ CLICKHOUSE_INTERNAL_INSECURE_NATIVE_PORT }}</tcp_port>
{% for host in CLICKHOUSE_LISTEN_HOSTS %}
     <listen_host>{{ host }}</listen_host>
{% endfor %}
     <listen_try>1</listen_try>
 </clickhouse>
