*
!requirements/
!requirements.yml
!roles/
!library/
!Makefile
!ansible.cfg
!hosts.ini
!caddy.yml
!clickhouse.yml
!elasticsearch_7_10.yml
!mongo_4_2.yml
!mongo_4_4.yml
!mongo_7_0.yml
!mongo_backup.yml
!mongo_backup_restore.yml
!mysql_5_7.yml
!mysql_8_0.yml
!mysql_8_4.yml
!mysql_backup.yml
!mysql_backup_restore.yml
!percona_5_7.yml
!redis_6_2.yml
!redis_7_2.yml
!test_os_info.yml
