[mysqld]
server-id                  = {{ MYSQL_CONFIG_SERVER_ID }}

# Replication and binlog related options
# See: https://mysqlhighavailability.com/mysql-group-replication-a-quick-start-guide/
binlog-row-image           = MINIMAL
binlog-rows-query-log-events = ON
log-bin-trust-function-creators = TRUE
max-binlog-size            = 1G
relay-log-recovery         = ON
slave-parallel-type        = LOGICAL_CLOCK
slave-preserve-commit-order = ON
slave-parallel-workers     = 8
slave-type-conversions     = ALL_NON_LOSSY
sync-master-info           = 1000
sync-relay-log             = 1000


# Group replication pre-requisites & recommendations.
# See: https://mysqlhighavailability.com/mysql-group-replication-a-quick-start-guide/
log-bin
binlog-format              = ROW
{% if MYSQL_CONFIG_REPL_ENABLE_GTID_MODE %}
gtid-mode                  = ON
{% endif %}
enforce-gtid-consistency   = ON
log_slave_updates          = ON
binlog-checksum            = NONE
# prevent use of non-transactional storage engines
{% if MYSQL_CONFIG_REPL_DISABLE_MYISAM %}
disabled_storage_engines   = "MyISAM,BLACKHOLE,FEDERATED,ARCHIVE"
{% endif %}
# InnoDB gap locks are problematic for multi-primary conflict detection; none are used with READ-COMMITTED
# So if you don't rely on REPEATABLE-READ semantics and/or wish to use multi-primary mode then this
# isolation level is recommended
transaction-isolation      = 'READ-COMMITTED'
