{{ caddy_global_options }}

:8080 {
respond "Hello, world!"
}

(https-proxy) {
    reverse_proxy {
        to {args[0]}
        lb_policy round_robin
    }
}

{% if caddy_sites|length>0 %}
{{ caddy_sites|join(', ') }} {
    import https-proxy {{caddy_backend_targets}}
}
{% endif %}

{{ caddy_extra_rules }}
