name: Build atlas-ansible-utils Docker Image

on:
  push:
    branches:
      - main
  pull_request:
    branches: [ "main" ]
  workflow_call:
    inputs:
      tag:
        description: "The same version defined in pyproject.toml"
        required: false
        type: string

env:
  REGISTRY: docker.io
  IMAGE_NAME: ednxops/atlas-ansible-utils

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,prefix=
            type=raw,value=latest,enable={{is_default_branch}}
            type=raw,value=${{ inputs.tag }},enable=${{ inputs.tag != '' }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        id: imgbuild
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          load: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run Docker image to make sure ansible-playbook binary is usable
        run: docker run --rm ${{ steps.imgbuild.outputs.imageid }}
