---
CLICKHOUSE_VERSION: 25.8.11.66

CLICKHOUSE_VOLUMES: []
CLICKHOUSE_DEFAULT_USER_PASSWORD: password

CLICKHOUSE_PACKAGES:
  - clickhouse-client
  - clickhouse-server
  - clickhouse-common-static

CLICKHOUSE_USERS:
  - name: prod
    password: prod
  - name: stage
    password: stage

CLICKHOUSE_LISTEN_HOSTS:
  - "::"
  - 0.0.0.0

CLICKHOUSE_HOST_INSECURE_HTTP_PORT: 8123
CLICKHOUSE_INTERNAL_INSECURE_NATIVE_PORT: 9000

CLICKHOUSE_GPG_KEY_URL: https://packages.clickhouse.com/rpm/lts/repodata/repomd.xml.key
CLICKHOUSE_KEYRING_PATH: /usr/share/keyrings/clickhouse-keyring.gpg
CLICKHOUSE_REPO: "deb [signed-by={{ CLICKHOUSE_KEYRING_PATH }} arch=amd64] https://packages.clickhouse.com/deb stable main"
